# POSTGRES
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow


# DJANGO ENVS
DJANGO_DB_HOST=postgres
DJANGO_DB_NAME=postgres
DJANGO_DB_USER=airflow
DJANGO_DB_PASSWORD=airflow
DJANGO_DB_PORT=5432
DJANGO_SECRET_KEY=9$b*0qa43=ha_-)h_v6h-$&uxo49p4@x)=@i3)5j%nwc*pi)no

# AIRFLOW ENVS

# AIRFLOW DB
POSTGRES_DB=airflow

OAD_EX=n
FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
EXECUTOR=Celery
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgres://airflow:airflow@postgres:5432/airflow
AIRFLOW__CELERY__CELERY_RESULT_BACKEND=redis://redis:6379/1
AIRFLOW_GPL_UNIDECODE=yes


AIRFLOW__WEBSERVER__RBAC=True

_AIRFLOW_DB_UPGRADE=false
_AIRFLOW_WWW_USER_CREATE=true
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow